@{
    Layout = "_Layout";
}

<center>
    <h1>Welcome</h1>  
</center>
<p class="text-center">
    Start organization your tasks and stay Productive!<br />
</p>
<p class="text-center">
   Get started by creating your first To-Do item.<br />
</p>
<center>
    <a href="/Tasks/CreateNewItem" button type="submit" class="btn btn-primary">Submit</button></a>
</center>

<div style="height: 150px;"></div>